@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

.firstpage{
    background-image: url(\TempleBar.jpg);
    background-size: cover;
    background-position: center;
    width: 1535px;
    height: 720px;
}

.Mainheader{
    color:green;
    text-align: center;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.header1{
    background-image: url(\Wo++Certificate.webp);
    width: 30em;
    height: 15em;
    background-position: center 400px;
}